*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  box-sizing: border-box; }

body {
  overflow: hidden;
  font-family: 'Montserrat', sans-serif; }

header {
  width: 100%;
  height: 65px;
  line-height: 65px;
  background: #343434;
  position: fixed; }
  header nav {
    position: relative;
    max-width: 1250px;
    margin: auto;
    padding: 0 30px;
    display: flex;
    justify-content: space-between; }
    header nav .logo a {
      text-decoration: none;
      color: #fff;
      font-size: 28px; }
    header nav .nav-links {
      display: inline-flex;
      font-size: 21px;
      list-style: none; }
      header nav .nav-links li {
        list-style: none; }
        header nav .nav-links li a {
          text-decoration: none;
          color: #fff;
          font-size: 18px;
          padding: 9px 15px;
          border-radius: 5px;
          transition: all .2s ease; }
          header nav .nav-links li a:hover {
            background: #454545; }
    header nav .drop {
      position: absolute;
      top: 85px;
      width: 150px;
      line-height: 60px;
      background-color: #232323;
      list-style: none;
      transition: all 0.2s;
      opacity: 0;
      visibility: hidden; }
      header nav .drop li a {
        display: block;
        border-radius: 0;
        width: 100%;
        padding: 0 0 0 15px; }
    header nav .nav-links li:hover .drop,
    header nav .nav-links li:hover .mega-box {
      top: 65px;
      opacity: 1;
      visibility: visible; }
    header nav #dropInput,
    header nav #boxInput {
      display: none; }
    header nav .mobile-item {
      display: none; }

.mega-box {
  position: absolute;
  top: 85px;
  left: 0;
  width: 100%;
  background: #232323;
  opacity: 0;
  visibility: hidden;
  transition: .2s; }
  .mega-box .content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 25px 20px; }
    .mega-box .content .row {
      width: calc(25% - 30px);
      line-height: 45px; }
      .mega-box .content .row img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
      .mega-box .content .row .megaHead {
        color: #fff;
        font-size: 20px;
        cursor: pointer; }
      .mega-box .content .row .megaMenu {
        border-left: solid #454545 1px;
        margin-left: -40px; }
        .mega-box .content .row .megaMenu li {
          list-style: none;
          padding: 0 20px; }
          .mega-box .content .row .megaMenu li a {
            display: block;
            line-height: 45px;
            padding: 0 20px; }

nav input {
  display: none; }

.btn {
  display: none;
  cursor: pointer;
  color: #fff;
  font-size: 20px; }

.cancel-btn {
  position: absolute;
  top: 10px;
  right: 30px; }

@media screen and (max-width: 970px) {
  header nav .nav-links {
    position: fixed;
    top: 0;
    left: -100%;
    background: #232323;
    width: 100%;
    max-width: 350px;
    height: 100vh;
    overflow-y: auto;
    display: block;
    padding: 50px 15px;
    line-height: 50px;
    transition: all .2s ease;
    overflow-y: auto; }
    header nav .nav-links::-webkit-scrollbar {
      width: 0; }
    header nav .nav-links li {
      padding: 15px 10px; }
      header nav .nav-links li a {
        display: block;
        border-radius: 0;
        padding: 0 20px;
        font-weight: 500;
        font-size: 20px; }
    header nav .nav-links .drop {
      visibility: visible;
      opacity: 1;
      position: static;
      width: 100%;
      padding: 0 20px;
      line-height: 45px;
      overflow: hidden;
      max-height: 0; }
      header nav .nav-links .drop li {
        margin: 0;
        padding: 0; }
        header nav .nav-links .drop li a {
          font-size: 18px;
          font-weight: 500;
          color: #f2f2f2; }
    header nav .nav-links #dropInput:checked ~ .drop,
    header nav .nav-links #boxInput:checked ~ .mega-box {
      overflow: auto;
      max-height: 0%; }
    header nav .nav-links .mobile-item {
      display: block;
      color: #fff;
      font-size: 19px;
      cursor: pointer;
      padding-left: 20px;
      margin: 0;
      font-weight: 500; }
      header nav .nav-links .mobile-item:hover {
        background: #454545; }
    header nav .nav-links .desktopItem {
      display: none; }
    header nav .nav-links .mega-box {
      position: static;
      overflow: hidden;
      visibility: visible;
      opacity: 1;
      width: 100%;
      max-height: 0;
      padding: 0 20px; }
      header nav .nav-links .mega-box .content {
        padding: 20px 20px 0 20px;
        flex-direction: column; }
        header nav .nav-links .mega-box .content .row {
          width: 100%;
          border-top: 1px solid #454545;
          margin-bottom: 15px; }
          header nav .nav-links .mega-box .content .row:nth-child(1), header nav .nav-links .mega-box .content .row:nth-child(2) {
            border-top: 0px; }
          header nav .nav-links .mega-box .content .row .megaHud {
            font-weight: 500; }
          header nav .nav-links .mega-box .content .row .megaMenu {
            border-left: none;
            padding: 0 20px; }
            header nav .nav-links .mega-box .content .row .megaMenu li {
              margin: 0; }
              header nav .nav-links .mega-box .content .row .megaMenu li a {
                font-size: 18px;
                font-weight: 400; }
  .btn {
    display: block; }
  #burger-btn:checked ~ .nav-links {
    left: 0%; } }
